<!DOCTYPE html>
<meta charset="utf-8">
<meta name=robots content=noindex>
<title>{$exception->getMessage()}</title>
<style>
    #tracy-error { all: initial; position: absolute; top: 0; left: 0; right: 0; height: 70vh; min-height: 400px; display: flex; align-items: center; justify-content: center; z-index: 1000 }
    #tracy-error div { all: initial; max-width: 550px; background: white; color: #333; display: block }
    #tracy-error h1 { all: initial; font: bold 50px/1.1 sans-serif; display: block; margin: 40px }
    #tracy-error p { all: initial; font: 20px/1.4 sans-serif; margin: 40px; display: block }
    #tracy-error small { color: gray }
    #tracy-error small span { color: silver }
</style>

<div id=tracy-error>
    <div>
        <h1>{_$exception->getMessage()}</h1>
        <p n:if="!empty($exception->getSubMessage())">{_$exception->getSubMessage()}</p>
        <p><small>Error {$exception->getCode()}</small> - <small> {date('d.m.Y H:i')}</small></p>
    </div>
</div>